@import '../../styles/variables';

.card {
  color: $accentColor;
  margin-top: 5px;

  button {
    padding-bottom: 10px;
  }

  .card-title {
    margin-bottom: 25px;
  }
}

.delete-board-button {
  position: absolute;
  left: 0;
  height: 28%;

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

  padding: 5px 15px 0px 15px;
}
